[*.cs]

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none
